.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.2);
    

}
.myModalContent {
    padding: 25px;
    background: whitesmoke;
    border-radius: 15px;
    min-width: 250px;
    z-index: 3;
    background: rgba(0, 0, 0, 0.3);
    margin-left: 200px;
    margin-top: -500px;
}
.myModal.active {
    display: flex;
    align-items: center;
    transition: all .5s ease-in;
    z-index: 2;
}