.input {
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 2;
    margin: 0 auto;
    height: 100px;
   
}
.App {
    background: url("./Components/images/Background.png");
    background-position: center;
    background-size: 200vh;
    height: 100vh;
    transition: 1s ease-in;
    
}

