.input {
    position: relative;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 2;
}
.App {
    background: url("./Components/images/Background.png");
    background-position: center;
    background-size: 200vh;
    height: 100vh;
    transition: 1s ease-in;
}

